*{
    margin: 0; padding: 0;
}
body{
    background-image: url(../asset/background.gif);
    background-repeat: no-repeat;
    background-size: auto;
    overflow: hidden;
    background-blend-mode:soft-light ;
    background-color: rgba(237, 237, 233,0.5);
    font-family: 'verdana';
} 
#atas{
    display: inline-flex;
}
#awalan{
    height: 75px;
    background-color: #f0ebd8;
    position: fixed;
    width: 100%;
}
.satu{
    margin-top: 8px; margin-left: 20px;
}
.dua{
    margin-left: 540px;
    position: absolute;
    margin-top: 12px;
}
#butondua{
    height: 50px; width: 150px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #e07a5f;
    color: #fefae0;
    font-weight: bold;
}
#butondua:hover{
    background-color: #fbc4ab;
    color: #073b4c;
    transition: 0.3s;
}
.tiga{
    float: right;
    position: absolute;
    margin-left: 80%;
}
#butontiga{
    width: 125px;
    margin-top: 8px;
    border-radius: 10px;
}
#butontiga:hover{
    background-color: #d8e2dc;
    transition: 0.3s;
}
#butontiga #butontiga1:hover{
    opacity: 50%;
}
#butontiga2:hover{
    color: rosybrown;
}
#butontiga2{
    display: flex;
    position: absolute;
    margin-top: -30px;
    margin-left: 50px;
    font-weight: bold;
}
#kelas{
    margin-top: 80px;
    height:100%;
    width: 100%;
    color: white;
    position: absolute; 
    z-index: 3;
}
#buton1{   
    margin-top: 20px;
    margin-left: -75px;margin-right: 5px;
    font-weight: bold;
}
#buton{
    border-radius: 15px;
    background-color: #606c38;
    width: 140px;
    color: white;
    display: flex;
}
#buton:hover {
    background-color: #81b29a;
    transition: 0.3s;
}

#buton2{  
    border: solid 2px none;
    width: 135px;
    border-radius: 15px;
    margin-left: -1px;
    padding-bottom: 5px;
    margin-bottom: -5px;
}
#buton2:hover{
    opacity: 50%;
    transition: 0.3s;
}
/*bagian nama anggota*/
#overlay{
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0,0,0,0.8);
    transition: 500ms;
    visibility: hidden;
    z-index: 5;
}
#overlay2{
    position: relative;
    border-radius: 15px;
    background-color: rosybrown;
    width: 400px;
    height: 100px;
    margin: auto;
    padding-left: 30px;
    margin-top: 10px;
    padding-top: 10px;
}
#titlekelompok{
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
#exit{
    display: inline-flex;
    height: 20px;width: 20px;
    margin-left: 200px;
    border-radius: 5px;
    padding-left: 5px;
    font-weight: bold;
}



