*{
    padding: 0;
    margin: 0;
    font-family: 'Itim',cursive;
}
.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.title{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 10%;
}
.container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tile{
    border: solid 1px white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
.playerX{
    color: #09C372;
}
.playerO{
    color: #498afb;
}
.background{
    height: 100vh;
    padding-top: 1px;
    background-color: black;
}
.hide{
    display: none;
}
.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
#reset{
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}